.portfolio-layout-aling {
    height: 100vh;
    background: var(--color-background);
}

.portfolio-header-styles {
    background: var(--color-header);
}

.portfolio-body-styles {
    justify-content: center;
    margin: 20px;
}
