.portfolio-layout-aling {
    min-height: 100vh;
    background: var(--color-background);
}

.portfolio-header-styles {
    background: var(--color-header);
}

.portfolio-body-styles {
    justify-content: center;
    margin: 40px;
}

.portfolio-card-styles {
    background: radial-gradient(circle, #e32626 0%, #451010 100%);
    color: white;
}

.projects-card-style {
    border: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    text-align: center;
    color: black;
    font-size: 16px;
    z-index: 1;
}