.portfolio-layout-aling {
    min-height: 100vh;
    background: var(--color-background);
}

.portfolio-header-styles {
    background: var(--color-header);
}

.portfolio-body-styles {
    justify-content: center;
    margin: 40px;
}

.portfolio-card-styles {
    background: radial-gradient(circle, #e32626 0%, #451010 100%);
    color: white;
}
